.header__input--color {
  border-radius: 0.8rem;
  color: #101426;
  background: #F7F7F8 url('../img/header/search.svg');
  background-repeat: no-repeat;
  background-position-x: 2rem;
  background-position-y: 50%;
  background-size: 2.5rem;
}